* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 660px;
    background: linear-gradient(45deg, rgb(1, 245, 254), rgb(255, 0, 217))no-repeat center center/cover;
}

#container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#formdiv {
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 6px 35px;
}

#formdiv h2 {
    text-align: center;
    padding: 12px 0px;
}

#form {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#form input {
    display: block;
    margin: 15px auto;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 1rem;
    width: 73%;
    height: 10%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}


#form button {
    background: linear-gradient(to right, #0cdefe, #f306e1);
    width: 73%;
    height: 13%;
    border: none;
    border-radius: 29px;
    color: white;
    cursor: pointer;
    align-self: center;
}
#form p{
    text-align: center;
}
#form a {
    align-self: center;
    margin-bottom: 5px;
}

@media only screen and (max-width:500px) {
    #navbar ul li {
        
        margin: 0px 7px;
        font-size: 1.1rem;
    }
    #logo img {
        width: 25px;
        height: 30px;
    }
    #formdiv{
        width: 300px;
        margin: 0px 5px;
    }
}