<nav id="navbar">
   <ul id="navbar_ul">
      <li id="logo"><img src="/images/spotify.png" alt=""><span>spotify</span></li>
      <li> <a href="/">home</a></li>
      <li> <a href="/register">signup</a></li>
      <li> <a href="/signin">signin</a></li>
   </ul>
</nav>